<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>

  <div>

    <h1>Styling Libraries!!</h1>
    <div>
      <h2>Elements</h2>

      <div>
        <div id="buttons_examples">
          <h3>Standard Buttons</h3>
          <br>
          <button class="button mini">Mini</button>
          <button class="button tiny">Tiny</button>
          <button class="button small">Small</button>
          <button class="button medium">Medium</button>
          <button class="button large">Large</button>
          <button class="button big">Big</button>
          <button class="button huge">Huge</button>
          <button class="button massive">Massive</button>
        </div>

        <div id="buttons_examples">
          <h3>Toggle Buttons</h3>
          <button class="button toggle">Vote</button>
        </div>

        <div id="buttons_examples">
          <h3>Disabled Buttons</h3>
          <button class="button medium disabled">Disabled</button>
        </div>

        <div id="buttons_examples">
          <h3>Color Solid Buttons</h3>
          <br>
          <button class="button solid red">Red</button>
          <button class="button solid orange">Orange</button>
          <button class="button solid yellow">Yellow</button>
          <button class="button solid olive">Olive</button>
          <button class="button solid green">Green</button>
          <button class="button solid teal">Teal</button>
          <button class="button solid blue">Blue</button>
          <button class="button solid violet">Violet</button>
          <button class="button solid purple">Purple</button>
          <button class="button solid pink">Pink</button>
          <button class="button solid brown">Brown</button>
          <button class="button solid grey">Grey</button>
          <button class="button solid black">Black</button>
        </div>

        <div id="buttons_examples">
          <h3>Social Media Buttons</h3>
          <button class="button social medias facebook">
            <img class="icon social medias" src="images/icons/facebook.png">
            Facebook
          </button>
          <button class="button social medias twitter">
            <img class="icon social medias" src="images/icons/twitter.png">
            Twitter
          </button>
          <button class="button social medias google plus">
            <img class="icon social medias" src="images/icons/google_plus.png">
            Google Plus
          </button>
          <button class="button social medias linkedin">
            <img class="icon social medias" src="images/icons/linkedin.png">
            LinkedIn
          </button>
          <button class="button social medias instagram">
            <img class="icon social medias" src="images/icons/instagram.png">
            Instagram
          </button>
          <button class="button social medias youtube">
            <img class="icon social medias" src="images/icons/you_tube.png">
            YouTube
          </button>
          <br>
          <br>
          <button class="button circular social medias facebook">
            <img class="icon social medias circular" src="images/icons/facebook.png">
          </button>
          <button class="button circular social medias twitter">
            <img class="icon social medias circular" src="images/icons/twitter.png">
          </button>
          <button class="button circular social medias google plus">
            <img class="icon social medias circular" src="images/icons/google_plus.png">
          </button>
          <button class="button circular social medias linkedin">
            <img class="icon social medias circular" src="images/icons/linkedin.png">
          </button>
          <button class="button circular social medias instagram">
            <img class="icon social medias circular" src="images/icons/instagram.png">
          </button>
          <button class="button circular social medias youtube">
            <img class="icon social medias circular" src="images/icons/you_tube.png">
          </button>
        </div>

      </div>


    </div>
  </div>

</body>
</html>
